/* Estilos generales */
html,
body {
  background-color: #FCDCDB;
  padding-bottom: 100px;
}

header {
  background-color: #F5EBD2;
  padding: 20px;
  text-align: center;
}

#header-olga h1 {
  font-family: "Playfair Display", serif;
  margin-top: 10px;
}

#header-olga p {
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
  font-size: 25px;
}


.image-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}


/* Nueva sección: ¿Tienes dudas? */

.contact-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCDCDB;
  padding: 20px 0;
}

.contact-section {
  background-color: #FCDCDB;
  padding: 10px;
  text-align: center;
  /* Cambiado a center para centrar el texto */
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin-top: 50px;
  color: #464445;
}

#body-text {
  font-family: "Playfair Display", serif;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
  /* Cambiado a center para centrar el texto */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact-button {
  background-color: #C79FD0;
  border: none;
  color: #4A0125;
  padding: 15px 30px;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.contact-button:hover {
  background-color: #d79ae4;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .contact-section {
    padding: 10px 0;
  }

  .section-title {
    font-size: 2em;
    margin-top: 20px;
  }

  #body-text {
    font-size: 20px;
  }

  .contact-button {
    padding: 10px 20px;
    font-size: 1em;
  }
}

/* Imágenes container */

.tokio {
  width: 300px;
  height: 350px;
  object-fit: cover;
  object-position: bottom;
  padding: 5px;
  border-radius: 15px;
  transition: opacity .5s;
}

.tokio:hover {
  cursor: pointer;
  opacity: .5;
}

#setName {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}

.image-container {
  position: relative;
  margin: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(245, 235, 210, 0.5);
  font-family: "Playfair Display", bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #464445;
  font-size: 25px;
  border-radius: 15px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container a {
  display: block;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
}

.image-container a:hover {
  text-decoration: none;
}

/* Estilos de reseñas */

.review-card h5 {
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.review-card p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
  margin: 5px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .carousel-inner {
    flex-direction: column;
  }

  .carousel-item .row {
    flex-direction: column;
  }

  .carousel-item .col-md-4 {
    margin: 10px 0;
  }
}

.card-title span {
  color: gold;
}

.card-body {
  background-color: #fff9f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.carousel-item {
  padding: 20px;
}

.card {
  margin: 0 auto;
}


/* Estilos para encabezados y párrafos */
h6 {
  font-size: 15px;
  text-align: justify;
  font-family: "Source Sans 3", sans-serif;
}

h5 {
  font-size: 10px;
}

h4,
h3,
h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

h2 {
  text-align: justify;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  text-align: justify;
}

/* Estilos del navbar personalizado */
.custom-navbar {
  background-color: #F5EBD2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que esté por encima del contenido */
}

.navbar-brand img {
  max-height: 50px;
}

#activeI {
  text-decoration: underline #AD8D8C 5px;
}

.navbar-nav .nav-link {
  color: #4b4949 !important;
  font-size: 18px !important;
  font-weight: normal !important;
  padding: 10px 15px !important;
  font-family: "Playfair Display", serif !important;
}

.navbar-nav .nav-link:hover {
  color: black !important;
  text-decoration: none !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 70px; /* Justo debajo de la navbar */
    left: 0;
    right: 0;
    background-color: #F5EBD2;
    z-index: 999; /* Asegúrate de que esté por encima del contenido pero debajo del footer */
   /* overflow-y: auto;  Permite el desplazamiento si es necesario */
  }

  
  .navbar-nav {
    text-align: center; /* Centra las opciones */
    display: flex; /* Distribuye las opciones */
    flex-direction: column;
    align-items: center; /* Centra verticalmente las opciones */
    /*margin-top: 10px; /* Opcional: Espacio adicional en la parte superior */
    height: calc(100vh - 140px); /* Ajusta el alto del menú desplegable 100vh - 60px*/
   /* margin-top: 0; /* Elimina el margen superior para evitar espacio innecesario */
  }
  .navbar-nav .nav-link {
    text-align: center;
    padding: 10px 0;
    /* width: 100%; Ocupa todo el ancho disponible */
  }
  }

/* Estilos del footer personalizado */
.custom-footer {
  background-color: rgb(53, 2, 53);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; 
  z-index: 1000; /* Asegura que esté por encima del contenido en algunas situaciones */

}

.policy {
  background-color: rgb(80, 2, 80);
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.policy a {
  color: white;
  text-decoration: none;
}

.policy a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.social-icons a:hover {
  color: #df24f0;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  height: 100%;
}