/* Estilos generales */
html,
body {
  padding-bottom: 100px;
}

/* Estilos para encabezados y párrafos */
h6 {
  font-size: 15px;
  text-align: justify;
  font-family: "Source Sans 3", sans-serif;
}

h5 {
  font-size: 10px;
}

h4,
h3,
h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

h2 {
  text-align: justify;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  text-align: justify;
}

/* Estilos del navbar personalizado */
.custom-navbar {
  background-color: #F5EBD2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que esté por encima del contenido */
}

.navbar-brand img {
  max-height: 50px;
}

#activeProductos {
  text-decoration: underline #AD8D8C 5px;
}

.navbar-nav .nav-link {
  color: #4b4949 !important;
  font-size: 18px !important;
  font-weight: normal !important;
  padding: 10px 15px !important;
  font-family: "Playfair Display", serif !important;
}

.navbar-nav .nav-link:hover {
  color: black !important;
  text-decoration: none !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 70px; /* Justo debajo de la navbar */
    left: 0;
    right: 0;
    background-color: #F5EBD2;
    z-index: 999; /* Asegúrate de que esté por encima del contenido pero debajo del footer */
   /* overflow-y: auto;  Permite el desplazamiento si es necesario */
  }

  
  .navbar-nav {
    text-align: center; /* Centra las opciones */
    display: flex; /* Distribuye las opciones */
    flex-direction: column;
    align-items: center; /* Centra verticalmente las opciones */
    /*margin-top: 10px; /* Opcional: Espacio adicional en la parte superior */
    height: calc(100vh - 140px); /* Ajusta el alto del menú desplegable 100vh - 60px*/
   /* margin-top: 0; /* Elimina el margen superior para evitar espacio innecesario */
  }
  .navbar-nav .nav-link {
    text-align: center;
    padding: 10px 0;
    /* width: 100%; Ocupa todo el ancho disponible */
  }
  }

/* Estilos del carousel personalizado */
.carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 150px;
  object-fit: cover;
}

/* Estilos de cards */
.card {
  position: relative;
  border: transparent;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.image-container {
  position: relative;
  width: 70%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 70%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.image-container:hover .primary-image {
  opacity: 0;
}

.image-container:hover .hover-content {
  opacity: 1;
}

.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.card-body,
.card-title,
.card-text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Variables CSS */
:root {
  --primary-color: rgb(80, 2, 80);
  --secondary-color: rgb(53, 2, 53);
  --border-color: #ddd;
  --background-overlay: rgba(0, 0, 0, 0.5);
  --modal-margin: 4%;
  --carousel-control-size: 30px;
  --thumbnail-size: 85px;
  --thumbnail-border: 2px solid var(--border-color);
  --border-radius: 10px;
}

/* Estilos personalizados del modal */

.hover-content .modal-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-overlay);
  padding: 5px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.modalModal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 95%;
  overflow: auto;
  background-color: var(--background-overlay);
  box-sizing: border-box;
}

.modal-contentModal {
  background-color: #fefefe;
  margin: var(--modal-margin) auto;
  padding: 15px;
  border: 1px solid #888;
  width: 100%;
  height: 85%;
  max-width: 600px;
  border-radius: var(--border-radius);
  position: relative;
  max-height: calc(100vh - 50px);
  overflow-y: auto; 
}

.closeModal {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1050; 
}

.btn-close {
  font-size: .8rem; 
}


.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.product-details-containerModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  filter: invert(70%);
}

.carousel-control-prev,
.carousel-control-next {
  height: var(--carousel-control-size);
  width: var(--carousel-control-size);
  background-color: transparent;
  border: none;
  top: 35%;
  transform: translateY(-35%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: var(--carousel-control-size);
  width: var(--carousel-control-size);
  background-color: transparent;
  border: none;
}

.carousel-imageModal {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  max-height: 600px !important;
  border-radius: var(--border-radius);
}

.product-infoModal {
  border-radius: var(--border-radius);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-infoModal button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.thumbnails-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.thumbnail-image {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  object-fit: cover;
  margin-right: 5px;
  border: var(--thumbnail-border);
  cursor: pointer;
  border-radius: var(--border-radius);
}

.thumbnail-image:last-child {
  margin-right: 0;
}

.thumbnail-image:hover {
  border-color: #333;
}

#sizeModal {
  width: 70px;
  padding: 5px;
  font-size: 14px;
}

#unitsModal {
  width: 60px;
  padding: 5px;
  font-size: 14px;
}

#unitsModal:focus, #sizeModal:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(100, 98, 98);
  border-color: whitesmoke;
}

.product-infoModal {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.form-group label {
  margin-right: 10px;
  min-width: 60px;
}

.btn-primary {
  background-color: #df24f0 !important;
  border-color: #df24f0 !important;
}

.btn-primary:hover {
  background-color: rgb(53, 2, 53) !important; 
  border-color: rgb(53, 2, 53) !important; 
}

/* Estilo para ajustar el diseño en pantallas pequeñas */
@media (max-width: 768px) {
  .container {
      padding: 10px;
  }

  .card-img {
      max-width: 80px;
      margin-top: 20px; 
  }

  .modal-contentModal {
    width: 95%; 
    margin: 5% auto; 
    padding: 10px;
    max-height: calc(100vh - 60px); 
  }

  .carousel-imageModal {
    max-height: 150px; 
    margin-top: 20px; 
  }

  .product-infoModal {
    margin-top: 10px; 
    width: 100%;
  }

  .thumbnail-image {
    width: 50px; 
    height: 50px; 
  }
}

/* Estilos del footer personalizado */
.custom-footer {
  background-color: rgb(53, 2, 53);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; 
  z-index: 1000; /* Asegura que esté por encima del contenido en algunas situaciones */

}

.policy {
  background-color: rgb(80, 2, 80);
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.policy a {
  color: white;
  text-decoration: none;
}

.policy a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.social-icons a:hover {
  color: #df24f0;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  height: 100%;
}